
/* 重置样式 */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
/* body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;} */
body{background:#fff;}
a,a:hover{color:#333;}
/* table{
    border-collapse:collapse;
    border-spacing:0;
} */
button{
    outline: none;
}

@media only screen and (max-width: 1200px) {
    body{
        font-size: 12px;
    }
}
@media (min-width: 1201px) and (max-width: 1600px) {
    body{
        font-size: 13px;
    }
}
@media only screen and (min-width: 1601px) {
    body{
        font-size: 14px;
    }
}
/* 公共样式 */
html{
    font-size: calc(100vw/19.2);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #999;
}
.pointer{
    cursor: pointer;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.align-items-center {
    align-items: center;
}

/* 列表页 */
.table-content{
    margin-bottom: 20px;
}
.table-pages{
    margin-top: 20px;
    padding: 0 10px;
}
.page-content{
    padding: 0 .15rem 20px;
    box-sizing: border-box;
}
.search-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    white-space:nowrap;
    line-height: 1;
}
.search-items>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.search-items>div input{
    width: 50%;
}
.search-items>div>label{
    padding: 0 10px;
    word-wrap: none;
}
/* 粉红色总计条  */
.statistics-data>p{
    font-size:16px;
    font-weight: 700;
    margin: 0 15px;
}
.statistics-data{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px .15rem;
    background-color: #EF5AA1;
}
.statistics-data ul {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-start; */
}
.statistics-data ul li{
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #D0E17D;
    margin-right: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}
/* 粉红色总计条  */

/* 列表页 */

.red{
    color: rgb(255, 0, 0);
}
.blue{
    color: rgb(0, 0, 255);
}
.green{
    color:rgb(0, 128, 0);

}
.pink{
    color: #FF00CC;
}
.gray{
    color:rgb(102, 102, 102);
}
.mt-25{
    margin-top: 25px;
}
  /* 点查询时 反应效果(让客户看到) */
.act-enter,
.act-leave-to{
    opacity: 0.1;
    /* transform: scale(0.95); */
    max-width: 0;
    /* max-height: 50%; */
}

.act-enter-to{
    opacity: 1;
    /* transform: scale(1); */
    max-width: 100%;
    /* max-height:100%; */
}
.act-enter-active{
    transition: all .3s ease-in-out;
}

 /* 设置 Select 组件 背景色为白色 (之前是透明) */
#whiteBackgroud-select .val-box{
    background: #fff;
}
.border{
    border: 1px solid red;
}

.loading{
    /*固定loading*/
    position: absolute;
    /* order:9; */
    top: 50%;
    left: 50%;
    /*垂直水平居中*/
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-color: #333 #333 transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: loading 1s linear infinite;
}
@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}